<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog webApp</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/search_bar.ejs') %>
    <div class="container">
        <%- include('../partials/search_bar.ejs') %>
<%- include('../partials/header.ejs') %>


<main class="main">
    <%- body %>
</main>

    <%- include('../partials/footer.ejs') %>

</div>
    <script src="/js/script.js"></script>
</body>
</html>